{% extends "auctions/layout.html" %}
{% load static %}
{% block extrahead %}
    <meta charset="UTF-8">
    <link href="{% static 'auctions/access.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}

 	<div class="wrapper fadeInDown">
        <div id="formContent">     
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover"><a href="{% url 'register' %}"> Sign Up </a></h2>                    
            <br><br>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input class="fadeIn second" autofocus type="text" name="username" placeholder="Username">
                <input class="fadeIn third" type="password" name="password" placeholder="Password">
                <br><br>                
                <input class="fadeIn fourth" type="submit" value="Login">
            </form>			
		    	
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
			
	     </div>
    </div>

{% endblock %}